.login-form{
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form input[type="password"], .login-form input[type="text"], .login-form input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    border-radius: 30px 30px;
    box-sizing: border-box;
}
input:focus{
    outline: none;
}

/* Responsive */

@media screen and (max-width: 360px) {
    .login-form{
        width: 100%;
        margin: 0 auto;
        font-family: Tahoma, Geneva, sans-serif;
    }
}