.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay p {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.closebtn {
  width:100px;
  margin-top:15px;
}

.btn button:focus{
  outline: none;
}

/* Responsive */ 

@media screen and (max-height: 550px) {
  .overlay p {font-size: 20px}
  .closebtn {
    width:80px;
    margin-top:initial;
  }
  .overlay-content {
    top: 10%;
  }
}