.div_action{
    width:5%;
}

.btn2{
    padding:6px 12px;
}

.btn_divv{
    width: 41px;
    margin: 0 auto;
}

.checkboxx{
    width: 13px;
    margin: 0 auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left:-120px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.container2{
    margin-top:170px;
}

.your_div_result{
    border:1px solid #6da3d1; 
    box-shadow: 2px -3px 5px grey;
    background-color:#6da3d1; 
    text-align:center;
    height:auto;
    width:30%;  
    margin:19px auto 0px auto;
    border-radius:50px 50px 0 0;
}

.your_result{
    margin-top: 6px;
    margin-bottom: 6px;
    font-size:22px; 
    text-shadow: 2px 2px 4px #000000;
    width:100%; 
    color:white;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 161px;
    z-index:1;
    background-color: #6da3d1;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fl{
    float:left;
}

.w{
    width:530px;
    margin-left:5px;
    height:34px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 123px;
    z-index:2;

}

table { 
    width: 100%; 
    border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #fff; 
}

th { 
    background: #6da3d1; 
    color: white; 
    font-weight: bold; 
}

td, th {
    word-wrap: break-word; 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

/* Responsive */

@media screen and (min-width: 1071px){
    th:nth-of-type(10),td:nth-of-type(10){
        display:none;
    }
    .div_action{
        width:57px;
    }
}

@media screen and (max-width: 1070px) {
    th{
        font-size:12px;
    }
    @media screen and (max-width: 1070px) and (min-width: 581px){
        th:nth-of-type(5),th:nth-of-type(6),th:nth-of-type(7),th:nth-of-type(8),th:nth-of-type(9),td:nth-of-type(5),td:nth-of-type(6),td:nth-of-type(7),td:nth-of-type(8),td:nth-of-type(9){
            display:none;
        }
    }
}

@media screen and (max-width: 755px) {
    .your_result{
        margin-top: 7px;
        margin-bottom: 7px;
        font-size:20px;
    }
    th{
        font-size:10px;
    }
    .btn2{
        padding:4px 8px;
    }
    .btn_divv{
        width:33px;
    }
}

@media screen and (max-width: 667px){
    th:nth-of-type(10),td:nth-of-type(10){
        display:none;
    }
}

@media screen and (max-width: 667px) {
    .checkboxx{
        width:unset;
    }
    .btn_divv{
        width:41px;
        margin:inherit;
    }
    .btn2{
        padding:6px 12px;
    }

    .your_result{
        font-size:3vw;
    }
    .sticky{
        z-index:2;
    }
    .container2{
        margin-top:190px;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; margin-bottom:10px; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "First Name"; }
    td:nth-of-type(3):before { content: "Second Name"; }
    td:nth-of-type(4):before { content: "Email"; }
    td:nth-of-type(5):before { content: "Total Question"; }
    td:nth-of-type(6):before { content: "Correct Answer"; }
    td:nth-of-type(7):before { content: "Incorrect Answer"; }
    td:nth-of-type(8):before { content: "Un-answered"; }
    td:nth-of-type(9):before { content: "Percent (%)"; }
    td:nth-of-type(10):before { content: "Action"; }
}