.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    border-radius:30px 30px;
    box-sizing:border-box;
}

input:focus{
    outline: none;
}

.btn22 {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fl{
    float:left;
}

.inputview{
    margin-left:20px;
    width: 300px;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    border-radius: 30px 30px;
    box-sizing: border-box;
}

.singupinputsdiv{
    width: 58%; 
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.mrgnleft{
    margin-left:180px;
}

.alertwidth{
    position: fixed;
    z-index: 1000;
    bottom: -10px;
    left: 20px; 
    width:35%;
    display:none;
}
.alertcolorneg{
    color:#fff;
    background-color:#961010;
}

.alertcolorpos{
    color:#fff;
    background-color:#2a5507;
}

/* Responsive */

@media screen and (max-width: 1199px) {
    .singupinputsdiv{
        width: 71%; 
    }
}     

@media screen and (max-width: 991px) {
    .singupinputsdiv{
        width: 94%; 
    }
    .col-md-4 {
        width: 350px;
        margin:10px auto 0 auto;
    }
}    

@media screen and (max-width: 742px) {
    .singupinputsdiv{
        width: 100%; 
    }
    .alertwidth{
        width:90%;
    }
}    

@media screen and (max-width: 701px) {
    .singupinputsdiv{
        width: 70%; 
    }
    .fl{
        float:none;
    }
    .mrgnleft{
        margin-left:20px;
    }
    .inputview{
        margin-left:0px;
        width: 100%;
    }   
}

@media screen and (max-width: 400px) {
    .g-recaptcha {
        transform:scale(0.77);
        transform-origin:0 0;
    }
    .col-md-4 {
        width: 250px;
        margin:10px auto 0 auto;
    }
    .login-form {
        width:252px;
    }
    .alertwidth{
        width:100%;
        font-size:10px;
    }
}    