.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    border-radius:30px 30px;
    box-sizing:border-box;
}

input:focus{
    outline: none;
}

.btn22 {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.alertwidth{
    position: fixed;
    z-index: 1000;
    bottom: -10px;
    left: 20px; 
    width:35%;
    color:#fff;
    background-color:#961010;
    display:none;
}

/* Responsive */

@media screen and (max-width: 991px) {
    .col-md-4 {
        width: 350px;
        margin:10px auto 0 auto;
    }
}

@media screen and (max-width: 742px) {

    .alertwidth{
        width:90%;
    }
}

@media screen and (max-width: 400px) {

    .col-md-4 {
        width: 100%;
        margin:10px auto 0 auto;
    }
    .login-form {
        width: 100%;
    }
    .g-recaptcha {
        transform:scale(0.88);
        transform-origin:0 0;
    }
    .alertwidth{
        width:100%;
        font-size:10px;
    }
}

@media screen and (max-width: 350px) {
    .g-recaptcha {
        transform:scale(0.77);
        transform-origin:0 0;
    }
}