body {
    font-family: Arial;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.containers {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

input:focus{
    outline: none;
}

.btn2{
    float: left;
    margin-top: -50px;
    margin-left: 300px;
}

/* Responsibility */

@media screen and (max-width: 315px) {
    .container{
        width:100%;
    }
}

@media screen and (max-width: 460px) {
    .btn2{
        float: none; 
        margin-top: 0px; 
        margin-left: 0px; 
        width:100%
    }
}
